@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 42px 115px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: 72px;
   align-items: center;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700px;
}
.menu-link {
    text-decoration: none;
    color: #666571;
    ;
}
.active {
    font-weight: 700;
    color: #26242E;
}
.active:hover {
text-decoration: underline red;
cursor: pointer;
}
 .menu-button {
    padding: 16px 38px;
    border-radius: 12px;
    background-color:  #6347EB;
    border: none;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
 }

/* ----------------hero page------------------------------- */

 .hero-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }

 .main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    text-transform: capitalize;
    color: #3D3D3D;
    padding-top: 75px;
 }

 .main-text  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: -30px;
 }

 .color-org{
    color: #FE7244;
 }
.hero-btn {
    margin: 60px 0 120px 0;
}
 .hero-image {
    position: relative;
    object-fit: cover;
 }
 .congratulation {
    position: absolute;
    top: 60%;
    right: 34%;
 }
 .learn-img {
    position: absolute;
    top: 55%;
    right: 5%;
 }
.hero-btn {
    align-items: center;
    gap: 32px;
}
.join {
    padding: 17px 40px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    background: #6652DA;
    border-radius: 16px;
    cursor: pointer;

}
.play {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    align-items: center;
    padding: 17px  60px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #3D3D3D;
    border: none;
    background: #fff;
    cursor: pointer;
    position: relative;
   
   
}

.play-btn {
    position: absolute;
    left: 0;
    top: 5px;
    border: 1px solid #000;
    padding: 15px 15px;
    object-fit: cover;
    border-radius: 2.5px;
    /* border-radius: 50px; */
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
    box-shadow: 0px 8px 24px rgba(254, 114, 68, 0.08);
    /* transform: rotate(88.08deg); */
    border: none;
}

/* ---------feature section----------- */

.feature-border {
    border: 1px solid #000;
    background: #FFFFFF;
    box-shadow: 4px 1px 22px 2px rgba(102, 82, 218, 0.1);
    border-radius: 15px;
    border: none;
    padding: 30px 0;
    margin: -80px 0;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.feature-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.feature-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #3D3D3D;
}

/* ----------partners---------- */

.partners {
    margin: 40px 0;
}
.partners-title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #3D3D3D;
    padding: 0 0 70px 0;
}

.partners-logo {
    display: flex;
    object-fit: contain;
    gap: 120px;
}


/* ---------- */


 .course-title {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: capitalize;
    color: #3D3D3D;
    padding: 0 0 50px 0;
 }

 .course-inner {
    display: flex;
    justify-content: space-around;
    gap: 14px;
 }

 .course {
    list-style: none;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(31, 31, 51, 0.03);
    border-radius: 20px;
    text-align: center;
    border: none;
}
.course:hover {
    background: linear-gradient(90.26deg, #F99462 0.21%, rgba(249, 148, 98, 0.65) 97.38%);
    box-shadow: 0px 2px 20px rgba(31, 31, 51, 0.03);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}


 .course-link {
    text-decoration: none;
 }
.link-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3D3D3D;
}

.design {
    padding: 29px 40px;
    text-align: center;
}
.Web-develop  {
    padding: 29px 12px;
}
.graphic-design  {
    padding: 29px 28px;
}
.data-sience {
    padding: 29px 40px;
}
.marketing {
    padding: 29px 20px;
}

/* -------------------popular course---------------------------- */

.popular-course-title {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: capitalize;
    color: #3D3D3D
}

.popular-course-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.popular-item {
    list-style: none;
}

.popular-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    opacity: 0.8;
}

.popular-link:hover {
    background: #FFFFFF;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    padding: 15px 17px ;
    border: 1px solid #000;
    border: none;
    transition: 0.2s;
}

.most-popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.popular-img {
    object-fit:inherit;
}

.item-wrapper {
    display: flex;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}
.most-popular-list-item {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(31, 31, 51, 0.06);
    border-radius: 5px;
    border: 1px solid none;
}
.steak {
    margin-left: 95px;
    font-weight: 500;
    padding: 7px 2px;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #3D3D3D;
    border: 1px solid none;
    background: linear-gradient(90.26deg, rgba(170, 128, 255, 0.12) 0.21%, rgba(160, 113, 255, 0.078) 97.38%);
    border-radius: 2px;
}
 .steak-1 {
    padding: 7px 2px;
 }
.mentor-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #3D3D3D;
}

.most-popular-item-title {
    padding: 0 15px ;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
}

.time {
    display: flex;
    margin: 0 15px;
}
.tima-hour {
    display: flex;
    align-items: center;
}
.time-img-blg {
   text-align: center;
}
.time-clock {
    padding-right: 20px;
}

.best-seller {
    margin-left: 100px;
    padding: 5px 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #3D3D3D;
    border: 1px sold none;
    background: linear-gradient(90.32deg, rgba(255, 212, 128, 0.15) 0.26%, rgba(255, 238, 87, 0.0975) 104.75%);
    border-radius: 2px;
}

.price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 15px;
}

.price {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-transform: capitalize;
    color: #3D3D3D;
}

s {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: rgba(61, 61, 61, 0.8);
}

.price-btn {
    margin-left: 500px;
    margin-top: 42px;
}

.view-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #6652DA;
    padding: 12px 26px;
    background: rgba(182, 169, 255, 0.15);
    border-radius: 5px;
    border: none;
}